* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header div.logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
}

header nav.desktop a {
    color: black;
    text-decoration: none;
}

section.pizza-destaque {
    padding: 90px 2%;
}

section.pizza-destaque .container {
    /* Vamos deixar o padrão que é 1400px */
    /* max-width: 1000px; */
    padding: 60px 0;
}

.line-titulo {
    /* Trocamos por 1400 para seguir com o mesmo tamanho do nosso contexto padrão da classe container! */
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.ln1 {
    position: absolute;
    height: 2px;
    width: 100%;
    top: 20px;
    background: black;
}

.line-titulo h2 {
    position: relative;
    background: white;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    padding: 0 20px;
    font-style: italic;
    text-transform: uppercase;
}

.pizza-destaque {
    float: left;
    width: 33.3%;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;
}

.pizza-img-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.pizza-destaque .pizza-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border: 4px solid #353535;
}

.pizza-destaque h2 {
    margin-top: 15px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.pizza-destaque p {
    margin-top: 10px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
}

.btn1 {
    margin-top: 10px;
    text-align: center;
    display: block;
    line-height: 40px;
    background-color: #EB2D2D;
    text-decoration: none;
    border-bottom: 5px solid #B21E1E;
    color: white;
    font-size: 16px;
    font-style: italic;
    width: 150px;
}

.pizza-destaque a {
    margin-left: 8px;
    margin-top: 10px;
}

.servicos-descricao {
    display: flex;
}

footer {
    background-color: #353535;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    margin: 0 10px;
}
