/* Estilização geral do site */
body {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilização do HEADER da página */
header {
    background-color: #2c2b2a;
}

/* Estilização do LOGOTIPO */
.logo {
    width: 30%;
}

/* Estilização do MENU */
nav {
    right: 0;
    position: absolute;
    top: 100px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

.logo_caixa {
    width: 940px;
    position: relative;
    margin: auto;
}

/*estilização do banner*/
.banner{
    width:100%;
}

/*estilizaçao da sessão sobre a pizza*/
.pizza{
    width: 120px;
    float: left;
    margin: 0 20px;
    font-size: 70px;
}
.titulo-pizza{
    clear:left;
    text-align: center;
}
.area pizza{
    width:85%;
    text-align: justify;
    margin: auto;
    background-color: #FFFFFF;
}